{% extends 'nav.html' %}
{% block titulo %}Tienda{% endblock titulo %}
{% block content %}
{% load static %}
<!-- Header-->
<header class="bg-gradient text-white" style="background-color: #209E95; padding-top: 60px; padding-bottom: 60px;">
    <div class="container px-lg-5 text-center">
        <img src="{% static 'img/Logo_GG.png' %}" height="100" alt="...">
        <h1 class="fw-bolder" style="color: white;">Tienda</h1>  
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for post in poster %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Hoy</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ post.imagen.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ post.titulo }}</h5>                            
                            <!-- Product price-->
                            ${{post.precio}} COP
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        {% if not user.is_authenticated %}
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'account_login' %}">Comprar</a></div> <br>                        
                        {% elif user.id == post.usuario_id %}
                            <div class="text-center" style="margin-bottom: 10px;"><a class="btn btn-outline-success mt-auto" href="{% url 'edit_post' post.id %}">Editar</a></div>
                            <div class="text-center" style="margin-bottom: 10px;"><a class="btn btn-outline-danger mt-auto" href="{% url 'verify_post' post.id %}">Eliminar</a></div>
                        {% else %}
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'index_post' post.id %}">Comprar</a></div> <br>
                        {% endif %}                                               
                    </div>
                </div>
            </div>
            {% endfor %}            
        </div>
    </div>
</section>
{% endblock content %}